div {
    border: 1px solid #000;
    min-height: 45px;
    }
    .container {
    display: grid;
    }

.header {
    grid-column-start: 1;
    grid-column-end: 2;
}

.rga{
    grid-column: 1;
}

.nome {
    grid-column: 2;
}

.disc{
    grid-column: 3;
}

.nota{
    grid-column: 4;
}

.situ{
    grid-column: 5;
}

.container{
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto auto; /* coluna um até a quinta */
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto; /* de um até a décima linha */
    gap: 2px;
 }

 .container div{
    background-color: #ccc;
    padding: 20px;
    border: 1px solid green;
 }

 div .nome {
    background-color: rgb(108, 117, 56);
    
 }

 div .rga {
    background-color: rgb(108, 117, 56);
 }

 div .disc {
    background-color: rgb(108, 117, 56);
 }

 div .nota {
    background-color: rgb(108, 117, 56);
 }

 div .situa {
    background-color: rgb(108, 117, 56);
 }

 div .situr{
    background-color: rgb(245, 61, 61);
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
 }


 div .nomein{
    background-color: rgb(175, 84, 130);
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 div .rgain{
    background-color: rgb(175, 84, 130);
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 div .discin{
    background-color: rgb(175, 84, 130);
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 

 div .notain{
    background-color: rgb(175, 84, 130);
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 }

 div .situin{
    background-color: rgb(175, 84, 130);
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }